h1 {
    text-align: center;
    background-color: rgb(14, 162, 221) ;
    color: rgb(22, 243, 33);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
    }
    


#cocktail-form {
    text-align: left;
    margin-bottom: 5%;
    
}

#h2 { text-align: center;
      margin-top: 8%;
}

#img {
    right: 0px;S
    left: 0px;
    margin: auto;
    display: block;
    position: relative;
    margin-bottom: 8%;
}

#cocktail-form {
    background-color:red;
}

#cocktail-container {
    background-color:white;
}

#header-image {
    max-width: 12%;
    max-height: auto;
    display: block;
    
}

#h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-align: left;
    text-decoration: underline;
}

#ingredientList {
    text-align: center;
}

#h4 {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: underline;
    
}